
/* Your CSS Code here. */
.holder{
	widht:100vw;
	height:100vh;
	background: aqua;
	display:flex;
	align-items:center;
	justify-content: center;

}
.child{
	width:100px;
	height:100px;
	background:red;
	
}